:root {
  --background: #1d2021;
  --foreground: #ebdbb2;
  --accent: #8ec07c;
  --font-size: 1rem;
  --line-height: 1.54em;
  --radius: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", Monaco, Consolas, "Ubuntu Mono", monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background);
  color: var(--foreground);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  text-size-adjust: 100%;
}

h1 {
  font-size: calc(var(--font-size) * 1.45);
  letter-spacing: 0;
}

h2 {
  font-size: calc(var(--font-size) * 1.35);
  letter-spacing: 0;
}

h3 {
  font-size: calc(var(--font-size) * 1.15);
  letter-spacing: 0;
}

h4,
h5,
h6 {
  font-size: calc(var(--font-size) * 1);
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
img,
figure,
video,
table {
  margin: 25px 0;
}

a {
  color: var(--accent);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 1200px;
  min-height: 100vh;
  border-right: 1px solid color-mix(in srgb, var(--accent) 10%, transparent);
}

.container.center {
  border: none;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__logo::after {
  content: "";
  background: repeating-linear-gradient(90deg, var(--accent), var(--accent) 2px, transparent 0, transparent 10px);
  display: block;
  width: 100%;
  right: 10px;
}

.header__logo a {
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent);
  color: var(--background);
  font-weight: bold;
  padding: 5px 10px;
}

.header__social {
  margin-top: 6px;
}

.header__social a {
  color: var(--accent);
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s;
  /*width: 200px;*/
  /*background: var(--accent);*/
  padding: 0px 0px 0px 10px;
}

.content {
  min-height: 80vh;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--accent);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  padding-top: 2em;
}

.title {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  font-size: 0.9em;
  color: #666;
}

.footer {
  padding: 40px 0;
  flex-grow: 0;
  opacity: 0.65;
}

.footer span {
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
  display: block; 
  text-align: center;
}

article p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

blockquote {
  position: relative;
  /*margin-left: 32px;*/
  padding: 16px;
  background-color: #272822;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.warning {
  border-left: 4px solid yellow;
  /*border-left: 1px var(--foreground);*/
}

blockquote::before {
  content: "WARNING";
  display: flex;
  left: 0;
  color: var(--accent);
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

pre {
  background-color: #272822;
  margin: 20px 0;
  padding: 10px;
  color: var(--foreground);
  border: none;
}

code {
  color: var(--accent);
  text-size-adjust: 100%;
  max-width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.header__social__navigation {
  display: flex;
  justify-content: space-between; /* Opcional: separa extremos */
  align-items: center;            /* Centrado vertical */
}

.header__social,
.header__navigation {
  /*padding: 1rem;*/
}

.header__navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 6px 1px;
}

.navigation-menu__inner {
  display: flex;
  flex: 1;
  /*flex-wrap: wrap;*/
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-menu__inner > li {
  /*flex: 0 0 auto;*/
  /*margin-bottom: 10px;*/
  /*white-space: nowrap;*/
}

.navigation-menu__inner > li:not(:last-of-type) {
  margin-right: 20px;
}

@media (max-width: 550px) {
  .navigation-menu {
    display: none;
  }
}

article table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: var(--accent);
}

table th {
  background-color: var(--accent);
  color: var(--background);
}

table th, td {
  padding-left: 6px;
  padding-right: 6px;
}
