{{- define "main" }}
  <article>
    {{ if gt (len .Ancestors) 1 }}
    <ul id="breadcrumbs">
    {{- range .Ancestors.Reverse }}
      <li><a href="{{ .RelPermalink }}">
      {{- if .IsHome -}}
        Inicio
      {{- else -}}
        {{ .Title }}
      {{- end -}}
      </a></li>
    {{- end }}
    </ul>
    {{ end }}
    <div class="content-header">
      <h2 class="title">{{ .Title }}</h2>
      {{ if .Date }}
      <span class="date"><em>{{ .Date.Format "02/01/2006" }}</em></span>
      {{ end }}
    </div>
    {{ if .Fragments.Headings }}
    <nav class="table-of-contents" aria-label="Índice">
      <strong>Índice</strong>
      {{ .TableOfContents }}
    </nav>
    {{ end }}
    {{ .Content }}
  </article>
{{- end }}
