:root {
  --background: #1d2021;
  --foreground: #ebdbb2;
  --accent: #8ec07c;
  --font-size: 1rem;
  --line-height: 1.54em;
  --radius: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Monaco, Consolas, "Ubuntu Mono", monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background);
  color: var(--foreground);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  text-size-adjust: 100%;
}

h1 {
  font-size: calc(var(--font-size) * 1.45);
  letter-spacing: 0;
}

h2 {
  font-size: calc(var(--font-size) * 1.35);
  letter-spacing: 0;
}

h3 {
  font-size: calc(var(--font-size) * 1.15);
  letter-spacing: 0;
}

h4,
h5,
h6 {
  font-size: calc(var(--font-size) * 1);
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
img,
figure,
video,
table {
  margin: 25px 0;
}

a {
  color: var(--accent);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 1200px;
  min-height: 100vh;
  border-right: 1px solid color-mix(in srgb, var(--accent) 10%, transparent);
}

.container.center {
  border: none;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__logo::after {
  content: "";
  background: repeating-linear-gradient(90deg, var(--accent), var(--accent) 2px, transparent 0, transparent 10px);
  display: block;
  width: 100%;
  right: 10px;
}

.header__logo a {
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent);
  color: var(--background);
  font-weight: bold;
  padding: 5px 10px;
}

.header__social a {
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s;
  background: var(--accent);
  padding: 5px 5px;
}



.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--accent);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  padding-top: 2em;
}

.title {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  font-size: 0.9em;
  color: #666;
}




.footer {
  padding: 40px 0;
  flex-grow: 0;
  opacity: 0.65;
}

.footer span {
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
  display: block; 
  text-align: center;
}



blockquote {
  position: relative;
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 0;
  padding: 25px;
}

blockquote::before {
  content: ">";
  display: block;
  position: absolute;
  left: 0;
  color: var(--accent);
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}




pre {
  background-color: #272822;
  margin: 20px 0;
  padding: 10px;
  color: var(--foreground);
  border: none;
}

code {
  color: var(--accent);
  text-size-adjust: 100%;
  max-width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
