<table style="margin: 0px auto; border: none;">
<tr>
<td style="border: none;"><img src="{{- (.Get "img1") -}}" alt="" style="max-width: 100%; height: auto; display: block; background-color: white;"></td>
<td style="border: none;"><img src="{{- (.Get "img2") -}}" alt="" style="max-width: 100%; height: auto; display: block; background-color: white;"></td>
<td style="border: none;"><img src="{{- (.Get "img3") -}}" alt="" style="max-width: 100%; height: auto; display: block; background-color: white;"></td>
</tr>
</tbody>
</table>